{% extends 'base.html' %}
{% block content %}

{% load static %}


<video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/LoginPage.mp4' %}"
type="video/mp4" id="homeBackground">
</video>

<h1>Log In</h1>
  <!-- Vince and Jacob will build the stuff for this -->
  <!-- feel free to design stuff whenever --> 
<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="hidden" name="next" value="{{ next }}">
  <button type="submit" class="btn btn-primary btn-lg">Log In</button>
</form>

{% endblock %}