{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  {% if palette %}
  .image-banner {
      filter: brightness(0.8);
  }

  .container {
      background-color: {{ palette.0 }};
  }

  h1, h2, h3, .about {
      color: {{ palette.1 }};
  }

  .btn-img {
      background-color: {{ palette.2 }};
      color: {{ palette.3 }};
  }

  .btn-outline-warning {
      border-color: {{ palette.4 }}
      color: {{ palette.4 }}
  }
{% endif %}
</style>


<video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/DetailVideo.mp4' %}"
type="video/mp4" id="homeBackground">
</video>

<!-- Banner Image -->
{% if dream.photo_set.last %}
  <div class="image-banner" style="background-image: url('{{ dream.photo_set.last.url }}');"></div>

{% else %}
  <div class="image-banner">
    <div class="right-align">No Image Uploaded</div>
  </div>
{% endif %}

<!-- Image Upload Form -->
<div class="container-p">
  <form action="{% url 'add_photo' dream.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file" id="photo-file" class="input-file" hidden>
    <label for="photo-file" class="btn-img">SELECT PHOTO</label>
    <button type="submit" class="btn-img">UPLOAD</button>
  </form>
</div>

<!-- Dream Details -->
<div class="container">
  <h1>{{ dream.name }}</h1>
  <h2 class="text">The night of {{ dream.date }}</h2>
  <h3>This was a {{ dream.feeling }} {{ dream.dream_type }} kind of night.</h3>
  <div class="about lead">
    <p>{{ dream.about }}</p>
  </div>
</div>

<div class="container">
  <a href="{% url 'index' %}" class="btn btn-outline-warning">Back to Dreams</a>
  <a href="{% url 'dreams_update' dream.id %}" class="btn btn-outline-warning">Update Dream</a>
  <a href="{% url 'dreams_delete' dream.id %}" class="btn btn-outline-danger">Delete Dream</a>

</div>

<!-- <h6>Date: {{ d.date }}</h6>
{% if d.feeling == 'G' %}
  <h6>A good feeling dream</h6>
{% elif d.feeling == 'O' %}  
  <h6>An okay dream</h6>
{% elif d.feeling == 'N' %}  
  <h6>Not a good dream</h6>
{% elif d.feeling == 'B' %}  
  <h6>A bad dream</h6>
{% endif %}

{% if d.dream_type == 'N' %}
  <h6>Nightmare!</h6>
{% elif d.dream_type == 'A' %}  
  <h6>An amazing dream</h6>
{% elif d.dream_type == 'W' %}  
  <h6>A weird dream</h6>
{% endif %} -->


{% endblock %}