{% extends 'base.html' %}
{% block content %}
{% load static %}


<video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/DetailPage.mp4' %}"
type="video/mp4" id="homeBackground">
</video>

<div class="container">
  <h1>Welcome to Your Dream</h1>
  <h2>The Night of<h2 class="text-muted"> {{ dream.date }} </h2></h2>

  {% if dream.image %}
    <img src="{{ dream.image }}" class="img-fluid" alt="Dream Image">
  {% else %}
    <p>No Image Uploaded</p>
  {% endif %}

  <h3>This was a {{ dream.feeling }} {{ dream.dream_type }} kind of night.</h3>
</div>
<div class="about lead">
  <p> {{ dream.about }} </p>
</div>

<div class="d-flex">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> {{ dream.dream_palette.color1 }} </th>
        <th scope="col"> {{ dream.dream_palette.color2 }} </th>
        <th scope="col"> {{ dream.dream_palette.color3 }} </th>
        <th scope="col"> {{ dream.dream_palette.color4 }} </th>
        <th scope="col"> {{ dream.dream_palette.color5 }} </th>
      </tr>
    </thead>
  </table>
</div>

<div class="container">
  <a href="{% url 'dreams_update' dream.id %}" class="btn btn-outline-warning">Update Dream</a>
</div>

{% endblock %}