{% extends 'base.html' %}
{% block content %}
{% load static %}


<video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/DetailPage.mp4' %}"
type="video/mp4" id="homeBackground">
</video>

<div class="container">
  <h1>Welcome to Your Dream</h1>
  <h2>The Night of<h2 class="text"> {{ dream.date }} </h2></h2>

  {% for photo in dream.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}

  <form action="{% url 'add_photo' dream.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <button type="submit" class="btn btn-info btn-lg">Upload Photo</button>
  </form>

  <h3>This was a {{ dream.feeling }} {{ dream.dream_type }} kind of night.</h3>
</div>
<div class="about lead">
  <p> {{ dream.about }} </p>
</div>

<div class="d-flex">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> {{ dream.dream_palette.color1 }} </th>
        <th scope="col"> {{ dream.dream_palette.color2 }} </th>
        <th scope="col"> {{ dream.dream_palette.color3 }} </th>
        <th scope="col"> {{ dream.dream_palette.color4 }} </th>
        <th scope="col"> {{ dream.dream_palette.color5 }} </th>
      </tr>
    </thead>
  </table>
</div>

<div class="container">
  <a href="{% url 'dreams_update' dream.id %}" class="btn btn-outline-warning">Update Dream</a>
  <a href="{% url 'dreams_delete' dream.id %}" class="btn btn-outline-danger">Delete Dream</a>
</div>

{% endblock %}