{% extends 'base.html' %}
{% load static %}
{% block content %}
<video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/DetailPage.mp4' %}"
type="video/mp4" id="homeBackground">
</video>

<h1 class="pageTitle">Dreams</h1>

{% for d in dreams %}
{% if dreams %}
<div class="card-deck indexCard">

<!-- <a href="/cats/{{ cat.id }}"> -->
  
    <div class="card-content amitaFont">
        <h5 class="amitaFont">{{ d.name }}</h5>
      
        <h6>Date: {{ d.date }}</h6>
        {% if d.feeling == 'G' %}
          <h6>A good feeling dream</h6>
        {% elif d.feeling == 'O' %}  
          <h6>An okay dream</h6>
        {% elif d.feeling == 'N' %}  
          <h6>Not a good dream</h6>
        {% elif d.feeling == 'B' %}  
          <h6>A bad dream</h6>
        {% endif %}

        <h6>Type: {{ d.dream_type }}</h6>

        <a href="{% url 'detail' d.id %}">Dream Details</a>
    </div>
  
</div>
{% else %}  
  <p class="indexCreate">There are no dreams yet... let's get dreaming...</p>
  <a href="{% url 'dreams_create' %}" class="indexCreate">Create a dream</a>
{% endif %}  
{% endfor %}


{% endblock %}