@font-face {
    font-family: 'Amita';
    src: url('/static/public/fonts/Amita-Regular.ttf');
}

@font-face{
    font-family: 'Sevillana';
    src: url('/static/public/fonts/sevillana/Sevillana-Regular.ttf')
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-us {
    background-color: transparent;
}

.logo-margin {
    margin-left: 5vmin;
}

.end-link-margin {
    margin-right: 5vmin;
}

main {
    flex: 1 0 auto;
}

.title{
    font-family: 'Sevillana';
    text-shadow: 0 0 5px #1b03f5, 0 0 5px #fcfbfb;
    color: rgb(255, 255, 255);
    text-align: center;
}

.bedcloud {
    border: none;
    max-width: 50vmin;
}

#homeBackground {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.amitaFont {
font-family: 'Amita';
font-weight: bold;
text-shadow: 0 0 5px #1b03f5, 0 0 5px #000000;
color: rgb(255, 255, 255);
}

.indexCard{
    margin: 4vmin;
    text-align: center;
    /* width: 30vw; */
    align-self: center;
    /* background: none; */
    border: none;
}

.pageTitle{
    text-align: center;
}

.btn-us {
    border-radius: 10px;
    background-color: rgb(217, 237, 255);
    color:#000000;
}

/* styling for detail page */
.image-banner {
    width: 100vw;
    height: 40vmin;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.container-p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5vmin;
}

.btn-img {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0.25rem 1.5rem;
    margin: 0 0 0 1rem;
    vertical-align: baseline;
    background-color: white;
    color: #000000;
    border-radius: 10px;
    font-size: 100%;
    line-height: normal;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* form styling */
.dream-form {
    color: white;
}



