@font-face {
    font-family: 'Amita';
    src: url('/static/public/fonts/Amita-Regular.ttf');
}

body {
    background-color: #1a2839;
    color: white;
}

.bedcloud {
    border: none;
    max-width: 50vmin;
}

#homeBackground {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.amitaFont {
font-family: 'Amita';
font-weight: bold;
text-shadow: 0 0 5px #1b03f5, 0 0 5px #000000;
color: rgb(255, 255, 255);
}

.indexCard{
    margin: 4vmin;
    text-align: center;
    /* width: 30vw; */
    align-self: center;
    background: none;
    border: none;
}

.pageTitle{
    text-align: center;
}

.image-banner {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
