{% extends 'base.html' %}
{% block content %}
{% load static %}

<video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/DetailPage.mp4' %}"
type="video/mp4" id="homeBackground">
</video>
<div>
    {% if object %}
        <h3>Edit {{ object.name }}</h3>
        <a href="{% url 'detail' object.id %}" class="btn btn-info btn-lg">Dream Details</a>
    {% else %}
        <h3>Add a Dream</h3>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <input type="submit" value="LOG DREAM" class="btn btn-primary">
    </form>
</div>


{% endblock %}