{% extends 'base.html' %}
{% block content %}

  <h1>About Dreamhues</h1>
  <!-- build a blurb about dreamhues -->
  <p>The app where dreams are logged. Ever want an app where you could keep a journal of your dreams and associate imagery and colors to it? Well it has arrived. Start logging your dreams, upload images and generate a color palette. Dreaming just got a whole lot more colorful.</p>
  <br>
  <br>
  <h1>The Devs</h1>
  <!-- get the group to send photos and write a blurb or something -->

{% endblock %}